<html>
    <head>
        <title>Django </title>
    </head>
    <body>
        <div>
            <h1><a href="/">El coto la tiene chica</a></h1>
        </div>
    {% for post in posts %}
        <div>
            <p> publicado: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>published: 06.07.2018, 12:14</p>
            <h2><a href="">My Josefa</a></h2>
            <p>Josefitaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
    {% endfor %}
    
    </body>
</html>